*.log
bin/results/
bin/resutl_4_20/
bin/results1/
bin/results2/
bin/results3/
bin/results4/
bin/result_test/
bin/resutl_4_21_L1
test_sample_1/
data/
data-source/
premodel/
premodel/
results
*.pyc
*.pkl
plots/
mini_model_for_testing/
bin/results_2023-3-27/
bin/results_2023-3-29/
bin/resutl_esm3b/
bin/test_sample/
bin/resutl_5_8
bin/resutl_5_9
bin/resutl_5_9_v2
